*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: antiquewhite;
}

h1{
    font-size: 50px;
    color: blueviolet;
    margin-top: 25px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.button-wrapper button{
    border: none;
    padding: 12px 20px;
    background-color: #073dab;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 18px;
}

.button-wrapper button.active{
    background-color: black;
}

.content-wrapper .content{
    display: none;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 55px;
}

.content.active{
    display: block;
}